# Ignore virtual environments
venv*/
.venv*/

# Ignore model weights and large files
*.pt
*.ckpt
*.log

# Ignore dataset artifacts
*.json
*.tsv

# Ignore cache and Python bytecode
__pycache__/
*.pyc

# Ignore training logs
lightning_logs/

# Jupyter and system files
*.ipynb_checkpoints
.DS_Store
